/*insertar fuente*/ 
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap');
    
/*Estilo del body se incluye fuente de google*/

body{
    font-family: "Edu AU VICWA NT hand",cursive
    
}

/*estilo de la capa primero*/
.primero{
    font-size: 40px;
    background-color: rgb(133, 89, 173);
}
/*estilo del titulo*/
h1{
    color:rgb(235, 225, 227);
    font-size: 4rem;
}
/*estilo del parrafo*/
p{
    color: rgb(245, 245, 252);
    font-size:  1.5rem;
    border: 1px solid #ee7409;
}

.box{
    width: 50%;
    height: 200px;
    background-color: rgb(43, 168, 226);
    font-size: 3rem;
}

